.review-item{
    width: 571px;
    border: 1px solid #95a0a7;
    border-radius: 7px;
    margin-bottom: 25px ;
    padding: 8px;
    display: flex;
    align-items: center;
   
}

.review-item img{
    width: 91px;
    height: 91px;
    border-radius: 5px;

}

.review-details {
    flex-grow: 1;
}
.btn-delete{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: rgba(235,87,87,0.3);
}

